.home__title {
    font-size: 3rem;
}

.home__title--blue {
    color: rgb(0, 110, 255);
    font-size: 5rem;
}

.home__get-started {
    cursor: pointer;
    font-size: 1.2rem;
    animation: tink 0.8s ease-in-out infinite;
}

@keyframes tink {
    0% {
        color: black;
    }

    50% {
        color: rgb(247, 0, 255);
    }

    100% {
        color: black;
    }
}