.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: white;
    margin: 1rem;
    padding: 2rem;
    text-align: center;
    
    width: 140px;
    height: 150px;
}

.cardHeader > div {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0.5rem;
}

.headerDate {
    margin-bottom: 2rem !important;
}


